*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

:root {
    --bkg-color: #152730;
    --primary-first-color: #152730;
    --primary-second-color: #00a3ee;
    --secondary-first-color: #eefbff;
    --secondary-second-color: #073f54;
  }

.header  {
    position: relative;
    width: 100%;
    margin: 14px;
    height: 250px;
    color: #ffffff;
    background-color: #37465B;
    flex-direction: row;
    display: flex;
    border-radius: 14px;
    box-shadow: 5px 5px 15px 1px #000000;

}

.info-container {
    position: relative;
    width: 100%;
    height: 90%;
    margin: 14px;
    color: #ffffff;
    background-color:#21283B;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction: column;
    border-radius: 14px;
    box-shadow: 10px 5px 30px 5px #21283B;
}

.info-header {
    position: relative;
    width: 100%;
    height: 184px;
    margin: 14px;
    color: #ffffff;
    background-color:#21283B;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    flex-direction: column;
    border-radius: 14px;
    box-shadow: 10px 5px 30px 5px #21283B;
}


.info-details{
    position: relative;
    margin: 14px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.details-container {
    position: relative;
    margin: 14px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction:row;
}

.icon-img{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 14px;
    border: 1px solid #ddd;
    border-radius:50%
}

.name-card{
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.action-card{
    position: relative;
    width: 100%;
    height: 90px;
    margin: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #152730;
    border-radius: 14px;
    box-shadow: 15px 10px 25px 5px #000000;
}

.name-action{
    position: relative;
    width: 244px;
    height: 90px;
    margin: 14px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font: bold 11px/0 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.action-stats{
    position: relative;
    width: 100%;
    height: 90px;
    margin: 14px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    font: bold 11px/0 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}

.action-stats-row{
    position: relative;
    width: 100%;
    height: 70px;
    margin: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    font: bold 11px/0 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.action-stats-row-item{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 14px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    font: bold 11px/0 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
